################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/KIsabelSampleLibrary/obj
/UnitTests/obj/Debug/netcoreapp3.1
KIsabelSampleLibrary/bin/
UnitTests/bin/
